<ion-side-menus expose-aside-when="large">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="custom">
      <ion-list>
        <ion-item class="heading-item item item-avatar header-bg" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container item-avatar">
            <img class="user-image" ng-src="app/assets/images/avatar.jpg" spinner-on-load>
          </div>

          <h2 class="greeting">Baptist</h2>
          <p class="message">Sunday School Lessons</p>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.dashboard">
          <i class="icon ion-ios-world"></i>
          <h2 class="menu-text">Dashboard</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/dashboard/lang/english">
          <i class="icon ion-ios-world"></i>
          <h2 class="menu-text">English</h2>
        </ion-item>
       <!-- <ion-item class="item-icon-left" nav-clear menu-close href="#/app/dashboard/yoruba">
          <i class="icon ion-medkit"></i>
          <h2 class="menu-text">Yoruba</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/dashboard/hausa">
          <i class="icon ion-medkit"></i>
          <h2 class="menu-text">Hausa</h2>
        </ion-item>-->

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>